body {
	background-color: #3F93E7;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	align-items: center;
	flex-direction: column;
}
.img_analogsea{
	height: 35px;
	margin: 35px auto;
}
form{
	background-color: white;
	padding: 0px 40px 0px 40px;
	width: 400px; 
	height: 460px;
	border-radius: 3px;
	

}
.header_signup{
	text-align: center;
	margin: 35px auto;
	color: #656161;
	font-size: 2.2em;
	font-weight: normal;
}
fieldset{
	border: none;
	padding: 0px
}
fieldset *{
	display: block;
}
label{
	margin: 15px auto;
	font-weight: bold;
}
input, button{
	width: 320px;
	height: 55px;
	border: 2px solid #E7E7E7;
	border-radius: 3px;
	padding: 15px
	
}
input::placeholder{
	color:#B3B2B2;
	font-size:1.05em;
}
button{
	margin: 15px auto ;
	margin-bottom: 3px;
	background-color:#65C470;
	color: white;
	text-shadow: 0px 1px 1px #EDEDED;
	font-size: 1.3em !important;
	text-align: center;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px
}

.forget_password{
	text-align: center;
	color: #B3B2B2;
}
.log_in *{
	color: white;
	font-weight: bold;
}
button:hover{
	background-color: #5BA063;
	transition: .3s;
}
button:active{
	transform: translateY(3px);
}
